*{
    border: 0;
    margin: 0;

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    padding: 0;
    margin: 0;


}
h2,h1{
    color: blueviolet;
    text-align:  center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;

}

p{
    color: rgb(35, 60, 107);
    text-decoration: solid;
    text-align: center;
    max-width: 500;
    margin: 20px;
    padding: 20px;


}
li{
    list-style-position: outside;
    list-style-type: square;
    text-decoration: solid;
    
    margin: 20px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 8px;
}